header{
    background-color: red;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#nav-item-left{
    background-color: blue;
}

.nav-item{
    display: flex;
    list-style-type: none;
}

.nav-item-list{
    margin: 0 5px;
}

.nav-item-link{
    color: black;
    text-decoration: none;
}

#nav-item-right{
    background-color: yellow;
}