*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1, p {
    color: #011B33;
}

header{
    padding: 8px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F1FEF4;
}
#navbar-brand img{
    width: 130px;
}
.nav-item{
    display: flex;
    list-style-type: none;
    align-items: center;
}
#nav-item-left {
    display: flex;
    letter-spacing: 1px;
    font-weight: 600;
}

#nav-item-right {
    letter-spacing: 1px;
    font-weight: 600;
}

.nav-item-list{
    margin: 0 5px;
}

.nav-item-link{
    color: #011B33;
    text-decoration: none;
}

.nav-item-link button{
    background-color: #41AA5E;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 900;
}

/* ---------------------------------------------------------------------------------------------------------------- 
HEADING START

*/

#section2{
    height: 100vh;
    padding-top: 100px;
    line-height: 1.5;
    background-color: #F1FEF4;
}

#section2 h1{
    font-size: 50px;
    
}

#section2 p {
    font-size: 20px;
}

#heading{
    width: 50%;
    padding: 10px;
    padding-left: 60px;
}

#heading button {
    background-color: #41AA5E;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 900;
    margin-top: 30px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}